name: Service Registrator

on:
  workflow_dispatch:
  workflow_call:
  push:
    paths: 
      - 'imagens/registrator/**'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # - dockerfile: ./imagens/registrator/v1.0.1-alpine3.17/Dockerfile
          #   platforms: linux/amd64,linux/arm64/v8 #,linux/arm/v6,linux/arm/v7,linux/ppc64le,linux/s390x
          #   tags: igorferreir4/registrator:v1.0.1-alpine3.17
          #   cache: type=gha
          #   nomedocache: registrator-v1.0.1-alpine3.17
          # - dockerfile: ./imagens/registrator/v1.0.1-alpine3.18/Dockerfile
          #   platforms: linux/amd64,linux/arm64/v8 #,linux/arm/v6,linux/arm/v7,linux/ppc64le,linux/s390x
          #   tags: igorferreir4/registrator:latest , igorferreir4/registrator:v1.0.1-alpine3.18
          #   cache: type=gha
          #   nomedocache: registrator-v1.0.1-alpine3.18
          - dockerfile: ./imagens/registrator/v1.0.1-alpine3.19/Dockerfile
            platforms: linux/amd64,linux/arm64/v8,linux/arm/v6,linux/arm/v7
            tags: igorferreir4/registrator:testegha
            cache: type=registry,ref=igorferreir4/buildcaches:registratorgha #type=gha
            nomedocache: registrator-v1.0.1-alpine3.19
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configurando QEMU
        uses: docker/setup-qemu-action@v3

      - name: Configurando Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Logando no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}   

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: imagens/registrator/v1.0.1-alpine3.19/
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: true
          tags: ${{ matrix.tags }}
          cache-from: ${{ matrix.cache }},scope=build-${{ matrix.nomedocache }}
          cache-to: ${{ matrix.cache }},scope=build-${{ matrix.nomedocache }},mode=max

      # - name: Update README.md Docker
      #   uses: meeDamian/sync-readme@v1.0.6
      #   with:
      #     user: ${{ github.repository_owner }}
      #     pass: ${{ secrets.DOCKERHUB_TOKEN }}
      #     slug: igorferreir4/registrator
      #     readme: imagens/registrator/README.md
      #     description: Consul Registrator with arm64 support